 <html>
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
</head>

<body style="background-image: url(static/images/image17); background-repeat: no-repeat; background-size: 1400px 350px; border-radius:80px;">
  
  <img src="{{ url_for('static', filename='images/image3')}}" style="position:fixed; padding-top: -100px;  width: 180px;height: 60px;">
  
 
  <img src="{{ url_for('static', filename='images/image1.svg')}}" style="position:fixed;   padding-left:920px;padding-top:340PX; width: 350px;height: 280px;">
    
    <div class="button" style="padding-left: 110px; padding-top: 420px;">
        <form action = "/success" method = "post" enctype="multipart/form-data" >
        
        <input  type="file" name="file" style="background-color:  #879da1; color: black; font-family:monospace; font-size: 25px; text-align: center; padding: 10px;padding-right: 0PX; border-radius: 8px">
        
        <input  type = "submit" value="Upload" style="background-color:dodgerblue; color: black; font-family:monospace; font-size: 25px;text-align: center; padding: 10px;border-radius: 8px" >
        </form>
    </div>
    
  
  
    
</body>
</html>